.h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.image {
  height: 200px;
  text-align: center;
}

.images {
  height: 180px;
}

body {
  font-family: 'Fredoka', sans-serif;
  background-color: #0ff5de;//#00ffd9;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.intro, .bio, .goals, .skills, .contact {
  padding: 5px
}

.title {
  text-align: center;
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
  -webkit-border-horizontal-spacing: 2px;
  -webkit-border-vertical-spacing: 2px;
}

.right-para {
  font-size: 24px;
  text-align: right;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
  -webkit-border-horizontal-spacing: 2px;
  -webkit-border-vertical-spacing: 2px;
}

.left-para {
  font-size: 24px;
  text-align: left;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
  -webkit-border-horizontal-spacing: 2px;
  -webkit-border-vertical-spacing: 2px;
}

footer {
  background-color: black;
  color: grey;
  text-align: center;
}
/*#42f5ce, #42f5e3*/
